body {
  background-color: #FFEFEB;
}

.api {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 20em;
}

.apartado {
  border-color: #C2AAA4;
  border-width: 20px;
  border-style: ridge;
  padding: 0.5em;
  background-color: #E3D1CF;
  width: 75em;
  padding: 2em;
  text-align: center;
}
