#principal {
  padding: 7em;
  text-align: center;
  background-image: url("foto-principal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titulo {
  font-size: 300%;
  font-weight: bolder;
  text-align: center;
}

.cuadro-titulo {
  background-color: #E3D1CF;
  width: 75em;
  height: 7em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.texto-app{
  color: white;
  float: left;
  margin-top: 20px;
  font-size: 24px;
  padding-right: 50px;
  padding-left: 25px;
}
.menu{
  overflow: hidden;
  text-align: center;
  background-color: #37678E;
  height: 70px;
}
.submenu{
  margin-top: 10px;
  text-align: center;
}
.menu a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu a:hover, .proyecto:hover .proyectodrop {
  background-color: #355A6F;
}
.proyecto {
  float: left;
  overflow: hidden;
}
.proyecto .proyectodrop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}
.proyecto-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.proyecto-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.proyecto-content a:hover {
  background-color: #ddd;
}
.proyecto:hover .proyecto-content {
  display: block;
}


.menu a:hover, .aplicacion:hover .aplicaciondrop {
  background-color: #355A6F;
}
.aplicacion {
  float: left;
  overflow: hidden;
}
.aplicacion .aplicaciondrop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}
.aplicacion-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.aplicacion-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.aplicacion-content a:hover {
  background-color: #ddd;
}
.aplicacion:hover .aplicacion-content {
  display: block;
}



.menu a:hover, .descargas:hover .descargasdrop {
  background-color: #355A6F;
}
.descargas {
  float: left;
  overflow: hidden;
}
.descargas .descargasdrop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}
.descargas-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.descargas-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.descargas-content a:hover {
  background-color: #ddd;
}
.descargas:hover .descargas-content {
  display: block;
}



.menu a:hover, .quienes-somos:hover .quienesdrop {
  background-color: #355A6F;
}
.quienes-somos {
  float: left;
  overflow: hidden;
}
.quienes-somos .quienesdrop {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}
.quienes-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.quienes-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.quienes-content a:hover {
  background-color: #ddd;
}
.quienes-somos:hover .quienes-content {
  display: block;
}  
