/* Declaring custom properties */
* {
  box-sizing: border-box;

}

body {
  margin: 0;
}



.raspberry-left {
  padding: 4em;
  display: flex;
  justify-content: flex-start;

}

.raspberry-right {
  padding: 4em;
  display: flex;
  justify-content: flex-end;

}

#contenido {
  position: relative;
}

.foto1 {
  /* border-color: gray;
  border-width: 1px;
  border-style: dotted; */
  padding-right: 5em;
  padding-left: 6em;
}

.explicacion-rasp {

  /* border-color: gray;
  border-width: 1px;
  border-style: dotted; */
  text-align: left;
  padding-left: 8em;
  padding-top: 2em;
  padding-right: 1em;
  /* width: 60em;
  height: 16em;

  top: 5em; */
}

.foto2 {
  /* border-color: gray;
  border-width: 1px;
  border-style: dotted; */
  float: right;
  padding-left: 5em;
  padding-right: 6em;
}

.explicacion-rasp2 {

  /* border-color: gray;
  border-width: 1px;
  border-style: dotted; */
  text-align: left;
  padding-right: 8em;
  padding-top: 2em;
  padding-left: 1em;
  /* width: 60em; */
  /* height: 16em;

  top: 26em; */
}


#footer {
  background-color: #32373a;
  color: gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

#footer h6 {
  font-size: 1em;
}

#footer ul {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0;
}

.link-raspberry {
  color: gray;
}

.link-compra {
  color: yellow;
}

.link-osmc {
  color: yellow;
}

.imagen-addons img {
  width: 1000px;
  height: 600px;
}

#capa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1em;
  background-color: white;
  color: black;
}

#imagen-tarjeta-sd {
  width: 200px;
  height: 200px;
}

#imagen-fuente-de-alimentacion {
  width: 350px;
  height: 350px;
}

#imagen-material-raspberry {
  width: 200px;
  height: 200px;
}

#como-funciona-con-raspberry-pi {
  margin-bottom: 100px;
}

#como-funciona-con-raspberry-pi img {
  width: 800px;
  height: 800px;
}

#porque-osmc {
  margin-bottom: 100px;
}

#imagenes-sd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

#imagenes-win32 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

#imagenes-carcasa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

#imagenes-carcasa2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

#imagenes-impresora {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
}

#imagen-api4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
